{% load static %}
<!-- Navbar Start -->
<div class="container-fluid nav-bar p-0 home">
    <div class="container-lg p-0">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="{% url 'index' %}" class="navbar-brand">
                <!-- <img src="{% static 'img/logo.png' %}" alt="" height=""> -->
                <i class="bi bi-camera-fill" style="color: blue;"></i><span class="text-white"> PICZONE</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto py-0">
                    <a href="{% url 'index' %}" class="nav-item nav-link text-white">HOME</a>
                    <a href="#gallery" class="nav-item nav-link text-white">GALLERY</a>
                    <div class="nav-item ">
                        <a class="nav-link  text-white" href="#gallery">
                          CATEGORIES
                        </a>
                        {% for category in categorys %}
                        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
                          <a  href="/category/{{category.name}}">{{category.name}}</a>
                          <!-- <div class="dropdown-divider"></div> -->
                        {% empty %}
                          <!-- <a class="dropdown-item" href="#">No categories</a> -->
                        </div>
                        {% endfor %}
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          LOCATIONS
                        </a>
                        {% for location in locations %}
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/location/{{location.id}}">{{location.name}}</a>
                          <div class="dropdown-divider"></div>
                         {% empty %}
                          <a class="dropdown-item" href="#">No locations found</a>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
            
        </nav>
    </div>
</div>
<!-- Navbar End -->